@charset "UTF-8";
* {box-sizing: border-box;}
body {
	background: #222;
	height: 100%;
	margin: 0;
}
#container {
	position: absolute;
	width: 900px; height: 100%;
	background: #fff;
	margin-left: -450px;
	left: 50%;
}
aside {
	float: left;
	width: 300px; height: 100%;
	padding: 20px 50px;
	background: rgb(216,216,216);
}
#main {
	float: right;
	width: 600px; height: 100%;
	padding: 20px;
}
li,p {
	line-height: 2.0;
	font-size: 0.9em;
}
#detail {
	position: relative;
	top: 50px;
}
#sns {
	position: relative;
	top: 100px;
}
#main>section {
	width: 500px;
	padding: 20px;
	margin: 10px;
	border-bottom: 1px dotted #222;
}